article {
  background: #f6f9fa;
  padding: 2rem 6rem 5rem 6rem;
}

h2,
h4,
h5,
p,
li {
  color: #2a5a69;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.1rem;
}

ul {
  margin-left: 2rem;
}

li {
  padding: 0.5rem 0;
  font-size: 1.1rem;
  list-style: url(/assets/img/icones/check.svg);
}

#titulo-politica {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  text-transform: uppercase;
  background: #17434e;
  color: #ebf1ed;
  border-radius: 5px 5px 0 0;
}

#politica {
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid #ebf1ed;
  padding: 2rem 5rem;
  display: grid;
  gap: 1rem;
  box-shadow: 0 2px 20px -8px #17434e33;
}

#titulo-rn {
  margin-top: 1rem;
  text-align: center;
}

#copyright {
  display: block;
  background: var(--v8);
  color: var(--v1);
  text-align: center;
  padding-top: 15px;
}

#copyright p {
  font-size: 12px;
}

#contato h4 {
  font-weight: 400;
  color: #f6f9fa;
}

#contato p {
  color: #f6f9fa;
}

@media only screen and (max-width: 900px) {
  article {
    padding: 1rem;
  }

  .contato-container {
    justify-items: center !important;
    grid-template-columns: 1fr !important;
    gap: 1.5rem;
  }

  #politica {
    padding: 1rem;
  }

  .sec-nav h4,
  .sec-nav ul {
    display: grid !important;
    max-width: 500px;
  }

  .sec-nav {
    display: grid !important;
  }

  .endereco {
    max-width: 500px !important;
  }

  .form {
    max-width: 500px !important;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .contato-container {
    grid-template-columns: 0.5fr 0.7fr 0.5fr !important;
    gap: 1.5rem;
    justify-items: start;
  }

  .sec-nav {
    display: grid !important;
    max-width: 500px !important;
  }

  .endereco {
    max-width: 500px !important;
  }

  .form {
    display: grid;
    max-width: 500px !important;
  }
}
